<style>
#body{
	background-color: #A9E9E9;
}

#formcontent{
	/*width: 720px;*/
	margin-top:0px;
	margin-left: 15px;
	background: #FFF;
	border:1px solid:#F1F1F1;
	-moz-border-radius:20px;
	-moz-box-shadow:2px 2px 5px #999;
	-webkit-border-radius:20px;
	-webkit-box-shadow:2px 2px 5px #999;
	padding: 1px 10px 0px;
}
#formcontent #form{
	border-top:1px solid #EEE;
	width:610px;
}
#form .row{
	border-bottom: 1px dotted #EEE;
	display:block;
	line-height: 25px;
	overflow: auto;
	padding: 5px 0px;
	width:100%;
}
#form .row1{
	border-bottom: 1px dotted #EEE;
	display:block;
	line-height: 25px;
	overflow: auto;
	padding: 10px 0px;
	width:100%;
}
#form .row1 .label{
	font-size: 16px;
	font-weight: bold;
	font-family: Arial,Helvetica,sans-serif;
	width:180px;
	text-align: right;
	float:left;
	padding-right: 10px;
	margin-right: 10px;
}
#form .row1 .input{
	float: left;
	margin-right: 10px;
	width:auto;

}
#form .row1 .context{
	color:#999;
	font-size: 11px;
	font-style: italic;
	line-height: 14px;
	font-family: Arial, Helvetica, sans-serif;
	width:140px;
	float: left;
}

#form .row .label{
	font-size: 16px;
	font-weight: bold;
	font-family: Arial,Helvetica,sans-serif;
	width:180px;
	text-align: right;
	float:left;
	padding-right: 10px;
	margin-right: 10px;
}
#form .row .input{
	float: left;
	margin-right: 10px;
	width:auto;

}
#form .row .context{
	color:#999;
	font-size: 11px;
	font-style: italic;
	line-height: 14px;
	font-family: Arial, Helvetica, sans-serif;
	width:140px;
	float: left;
}
.detail{
	width:260px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	padding:7px 8px;
	margin:0;

}
#form #submit{
	width:100px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 10px;
	margin-left:200px;
	color:#000;
	font-size: 16px;
	text-shadow:1px 1px 1px #999;
	text-align: center;
	padding: 5px;
}

</style>


