<style>
#banner{
	height:20%;
}
#lower-outer-box{
	height:80%;
	border:solid;
	border-radius: 10px;
	border-color: black;
}
#logo-image{
	display: inline-block;
	box-sizing: border-box;
	width:50%;
	padding-top: 10px;
	padding-left:10px; 
}
#reglog{
	display: inline-block;
	box-sizing:border-box;
	width:49%;
	padding-left: 10px;
	/*border-right: dotted;*/
}
#login{
	height: 10%;
	padding-bottom: 15px
}
#register{
	height:20%;
	padding-bottom: 20px;
}
h1{
	padding-bottom: 10px;
	margin-bottom: 0px;
}
</style>